doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
    body
        div#toolbar
            if user
                div.button.log_button.tooltiped
                    div.tooltip_text_left
                        p Log out
                    a(href='/logout')
                        img(src='/images/logout.png')
                div.button.tooltiped
                    div.tooltip_text_right
                        p Settings
                    a(href='/settings')
                        img(src='/images/settings.png')
                if user.ADMIN == 'TRUE'
                    div.button.tooltiped
                        div.tooltip_text_right
                            p Manage
                        a(href='/manage')
                            img(src='/images/manage.png')
                div.button.tooltiped
                    div.tooltip_text_right
                        p File system manager
                    a(href='/file_system')
                        img(src='/images/folder.png')
            else
                div.button.log_button.tooltiped
                    div.tooltip_text_left
                        p Log in
                    a(href='/login')
                        img(src='/images/login.png')
        div.content
            block content
