doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
    body
        div#toolbar
            if user
                div.button.log_button
                    a(href='/logout')
                        img(src='/images/logout.png')
            else
                div.button.log_button
                    a(href='/login')
                        img(src='/images/login.png')
        div.content
            block content
