doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
    body
        div#toolbar
            div.button
                a(href='http://www.google.fr')
                    img(src='/menu.png')
        div.content
            block content
